<a href="https://colab.research.google.com/github/nurfnick/DataProjects/blob/main/LucyTalksData/ProjectPart3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Learning Some SQL with BigQuery

I am going to try to follow along with **Lucy Talks Data** and do her SQL project [here](https://lucytalksdata.com/sql-for-data-science-quest-3/).  I'd like to try the third exercise!

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Now that I am authenticated, I can start to play around in the dataset.  This challenge asks you to look at traffic fatalities and find states that have lower than average fatalities.

In [4]:
%%bigquery --project data-viz-337501
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2016`

   total_rows
0       34748

We see that is a lot of rows.  We really don't want to try to store that into memory!  Let's have a peak at the data.

In [5]:
%%bigquery --project pic-math
SELECT *
FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2016`
LIMIT 5

   state_number state_name  ...  number_of_drunk_drivers        timestamp_of_crash
0            56    Wyoming  ...                        0 2016-12-04 03:45:00+00:00
1            16      Idaho  ...                        0 2016-12-16 16:33:00+00:00
2             5   Arkansas  ...                        0 2016-01-06 03:36:00+00:00
3            48      Texas  ...                        0 2016-08-07 15:28:00+00:00
4            12    Florida  ...                        0 2016-07-21 19:37:00+00:00

[5 rows x 70 columns]

In [7]:
%%bigquery --project data-viz-337501
SELECT 
  state_name,
  SUM(number_of_fatalities) as total_deaths
FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2016`
WHERE state_name is not null
GROUP BY state_name

              state_name  total_deaths
0                Wyoming           112
1                  Idaho           253
2               Arkansas           561
3                  Texas          3797
4                Florida          3176
5                Arizona           952
6             California          3837
7              Louisiana           757
8            Mississippi           687
9             New Mexico           405
10              Missouri           947
11              Oklahoma           687
12             Tennessee          1037
13              Illinois          1078
14              Kentucky           834
15               Indiana           829
16               Alabama          1083
17               Georgia          1556
18                Kansas           429
19              New York          1041
20        South Carolina          1020
21                Nevada           329
22             Minnesota           392
23            New Jersey           602
24            Washington           536
25           Connecticut           304
26         Massachusetts           387
27          Pennsylvania          1188
28              Michigan          1065
29         New Hampshire           136
30               Montana           190
31                  Utah           281
32              Colorado           608
33              Nebraska           218
34              Maryland           522
35                  Ohio          1132
36                  Iowa           402
37             Wisconsin           607
38          South Dakota           116
39         West Virginia           269
40                Oregon           498
41        North Carolina          1450
42          North Dakota           113
43              Virginia           760
44               Vermont            62
45                 Maine           160
46                Hawaii           120
47              Delaware           119
48          Rhode Island            51
49  District of Columbia            27
50                Alaska            84

Now I am going to use this table to compare to the averate value

In [9]:
%%bigquery --project data-viz-337501
WITH fatalities as (
SELECT 
  state_name,
  SUM(number_of_fatalities) as total_deaths
FROM `bigquery-public-data.nhtsa_traffic_fatalities.accident_2016`
WHERE state_name is not null
GROUP BY state_name)

SELECT *
FROM fatalities
WHERE total_deaths < (
  SELECT 
    AVG(total_deaths)
  FROM 
    fatalities)
ORDER BY state_name

              state_name  total_deaths
0                 Alaska            84
1               Arkansas           561
2               Colorado           608
3            Connecticut           304
4               Delaware           119
5   District of Columbia            27
6                 Hawaii           120
7                  Idaho           253
8                   Iowa           402
9                 Kansas           429
10                 Maine           160
11              Maryland           522
12         Massachusetts           387
13             Minnesota           392
14           Mississippi           687
15               Montana           190
16              Nebraska           218
17                Nevada           329
18         New Hampshire           136
19            New Jersey           602
20            New Mexico           405
21          North Dakota           113
22              Oklahoma           687
23                Oregon           498
24          Rhode Island            51
25          South Dakota           116
26                  Utah           281
27               Vermont            62
28            Washington           536
29         West Virginia           269
30             Wisconsin           607
31               Wyoming           112